@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  width: 206px;
  height: 326px;
  padding: 1rem;
  background-image: url(/indBadge.svg);
  background-size: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Oswald", sans-serif;
}
.card .hero {
  position: relative;
  overflow: hidden;
  height: 166px;
} 
.card .hero .role {
  position: absolute;
  top: 38px;
  left: 22px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card .hero .role span:nth-child(1) {
  font-size: 26px;
  font-weight: 700;
}
.card .hero .avatar {
  height: 156px;
  width: 150px;
  overflow: hidden;
  position: absolute;
  right: -12px;
}
.card .title {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.card .stat {
  justify-content: space-around;
  margin: 0px 0;
}
.card .stat .stat-value {
  font-weight: 600;
}
